<div class="navbar_con">
    <div class="navbar clearfix">
        <div class="subnav_con fl">
            <h1>全部商品分类</h1>
            <span></span>
            <ul class="subnav">
                {{range .goodsTypes}}
                    <li><a href="#" class="fruit">{{.Name}}</a></li>
                {{end}}
            </ul>
        </div>
        <ul class="navlist fl">
            <li><a href="">首页</a></li>
            <li class="interval">|</li>
            <li><a href="">手机生鲜</a></li>
            <li class="interval">|</li>
            <li><a href="">抽奖</a></li>
        </ul>
    </div>
</div>

<div class="breadcrumb">
    <a href="#">全部分类</a>
    <span>></span>
    <a href="#">新鲜水果</a>
    <span>></span>
    <a href="#">商品详情</a>
</div>

<div class="goods_detail_con clearfix">
    <div class="goods_detail_pic fl"><img src="http://192.168.11.150:8888/{{.goodsSku.Image}}"></div>

    <div class="goods_detail_list fr">
        <h3>{{.goodsSku.Name}}</h3>
        <p>{{.goodsSku.Desc}}</p>
        <div class="prize_bar">
            <span class="show_pirze">¥<em>{{.goodsSku.Price}}</em></span>
            <span class="show_unit">单  位：{{.goodsSku.Unite}}</span>
        </div>
        <div class="goods_num clearfix">
            <div class="num_name fl">数 量：</div>
            <div class="num_add fl">
                <input type="text" class="num_show fl" value="1" goodsId="{{.goodsSku.Id}}">
                <a href="javascript:;" class="add fr">+</a>
                <a href="javascript:;" class="minus fr">-</a>
            </div>
        </div>
        <div class="total">总价：<em>16.80元</em></div>
        <div class="operate_btn">
            <a href="javascript:;" class="buy_btn">立即购买</a>
            <a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
        </div>
    </div>
</div>

<div class="main_wrap clearfix">
    <div class="l_wrap fl clearfix">
        <div class="new_goods">
            <h3>新品推荐</h3>
            <ul>
                {{range .newGoods}}
                    <li>
                        <a href="/goodsDetail?Id={{.Id}}"><img src="http://192.168.11.150:8888/{{.Image}}"></a>
                        <h4><a href="/goodsDetail?Id={{.Id}}">{{.Name}}</a></h4>
                        <div class="prize">￥{{.Price}}</div>
                    </li>
                {{end}}

            </ul>
        </div>
    </div>

    <div class="r_wrap fr clearfix">
        <ul class="detail_tab clearfix">
            <li class="active">商品介绍:</li>
            <li>评论</li>
        </ul>

        <div class="tab_content">
            <dl>
                <dt>{{.goodsSku.Desc}}：{{.goods.Detail}}</dt>
                <dd></dd>
            </dl>
        </div>

    </div>
</div>


<div class="add_jump"></div>

<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    console.log("hello")

    function CaltotalPrice() {
        //单价
        price = $('.show_pirze').children('em').text()
        price = parseFloat(price)

        count = $('.num_show').val()
        count = parseInt(count)
        //计算总价
        totalPrice = price * count
        //toFixed(2)设置小数位
        $('.total').children('em').text(totalPrice.toFixed(2))
    }
    CaltotalPrice()

    //找标签、找事件、写方法
    //点击添加商品数量
    $('.add').click(function () {
        num = $('.num_show').val()
        num = parseInt(num)
        num += 1
        $('.num_show').val(num)
        CaltotalPrice()
    })

    //点击减少商品数量
    $('.minus').click(function() {
        num = $('.num_show').val()
        num = parseInt(num) - 1
        $('.num_show').val(num)
        CaltotalPrice()
    })

    //手动输入商品数量
    $('.num_show').blur(function () {
        num = $(this).val()
        if (isNaN(num) || num.trim().length == 0 || parseInt(num) <= 0) {
            num = 1
            $(this).val(num)
            CaltotalPrice()
        }
        CaltotalPrice()
    })

    var $add_x = $('#add_cart').offset().top;
    var $add_y = $('#add_cart').offset().left;

    var $to_x = $('#show_count').offset().top;
    var $to_y = $('#show_count').offset().left;
/**/
    $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'})
    $('#add_cart').click(function () {
        //添加购物车 ajax   自定义属性attr      原有属性用prop
        goodsId = $('.num_show').attr("goodsId")
        num = $('.num_show').val()

        param = {"goodsId":goodsId,"num":num}
        $.post("/addCart",param,function (data) {
            if(data.errno != 5){
                alert(data.errmsg)
            }
        })

        $(".add_jump").stop().animate({
                'left': $to_y + 7,
                'top': $to_x + 7
            },
            "fast", function () {
                $(".add_jump").fadeOut('fast', function () {
                    $('#show_count').html(2);
                });

            });
    })


</script>

